<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">
 
  <div class="login-wrapper">
      <div class="center">  
            <ion-item>
              
              <ion-input type="text"  [(ngModel)]="email">email</ion-input>
            </ion-item>
            <ion-item>
        
              <ion-input type="password"  [(ngModel)]="senha">senha</ion-input>
            </ion-item>
            <div class="buttons">
              <ion-button expand="block" type="submit" color="tertiary"  (click)='loginUsuario()'>Login</ion-button>
              <ion-button expand="block"  color="secondary" routerLink="/inserir">Registrar</ion-button>
            </div>
      </div>
  </div>

